.purplef{
	color: #d199ef
}
.mercuryf{
	color: #7c2620;
}

.jupiterf{
	color: #c6702d;
}

.saturnf{
	color: #0e5123;
}

.neptunef{
	color: #1fba98;
}

h1{
	text-align: center;
}

table, th, td {
    border: 1px solid black;
	width: 63%;
	margin: auto;
	text-align: center;
}

th, td {
    padding: 15px;
	background-color: #d7e8f2;
}

.module:nth-child(odd) {
  background-color: #e8d7f2;
}